$basicFontSize: 1rem;
$titleFontSize: 1.5rem;
$mainFontSize: 2.5rem;

$color1: #f2f2f2;
$color2: #5FC0CE;
$color3: #03899C;
$color4: #1F6B75;
$color5: #015965;
$white: #fff;
$light: #f2f2f2;
$dark: #2f2e41;
